#App {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Gentium Book Basic", serif;
}

.product_image {
  height: 550px;
  width: 550px;
}

.main_product {
  height: 280px;
  width: 280px;
  background: lightsteelblue;
}

.main_product_container {
  position: relative;
  z-index: 0;
  /* background: red; */
  height: 300px;
  width: 300px;
}
.main_product_image {
  height: 280px;
  width: 280px;
  /* background: lightseagreen; */
  position: absolute;
  z-index: 1;
}

.main_product_text_container {
  position: absolute;
  height: 280px;
  width: 280px;
  z-index: 3;
}

.main_product_text {
  background: violet;
  opacity: 0.85;
  height: 280px;
  width: 280px;
}

#brand {
  height: 300px;
  width: 475px;
  background: lightcoral;
  /* overflow: hidden; */
}

.link_tag {
  color: black;
}

#navbar {
  width: 100vw;
}

#contact_form {
  min-width: 475px;
  max-width: 600px;
}

.cart_table_short {
  width: 50px;
  /* background: red; */
  /* margin-right: 10px; */
}

.cart_row {
  height: 120px;
}

.cart_row_image {
  height: 50px;
  width: 50px;
  /* background: red; */
}

.cart_input_container {
  color: black;
}

.cart_input {
  padding-top: 10px;
  text-align: center;
  /* background: red; */
  height: 50px;
  width: 50px;
}

input {
  border-radius: 7px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~Admin Styles~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.search-bar {
  height: 30px;
}

