#App {
  min-height: 100vh;
  min-width: 100vw;
}

.main_product {
  height: 280px;
  width: 280px;
  background: lightsteelblue;
}

#brand {
  height: 300px;
  width: 475px;
  background: lightcoral;
  /* overflow: hidden; */
}

.link_tag {
  color: black;
}

#navbar {
  width: 100vw;
}

#contact_form {
  min-width: 475px;
  max-width: 600px;
}

.cart_table_short {
  width: 50px;
  /* background: red; */
  /* margin-right: 10px; */
}

.cart_row {
  height: 120px;
}

.cart_row_image {
  height: 50px;
  width: 50px;
  /* background: red; */
}

.cart_input_container {
  color: black;
}

.cart_input {
  padding-top: 10px;
  text-align: center;
  /* background: red; */
  height: 50px;
  width: 50px;
}
